.hi-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: sub;
    margin-right: .25rem !important;
}

.hi-1_5x {
    width: 27px;
    height: 27px;
}

.hi-2x {
    width: 36px;
    height: 36px;
}

.hi-3x {
    width: 54px;
    height: 54px;
}

.hi-4x {
    width: 72px;
    height: 72px;
}

.hi-light {
    filter: invert(1);
    /*  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg); */
}