@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    .nomoretables table,
    .nomoretables thead,
    .nomoretables tbody,
    .nomoretables th,
    .nomoretables td,
    .nomoretables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .nomoretables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .nomoretables tr {
        border: 1px solid #ccc;
    }

    .nomoretables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        white-space: normal;
        text-align: right;
    }

    .nomoretables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .nomoretables td:before {
        content: attr(data-title);
    }
}