@font-face {
    font-family: 'Archia';
    src: url('Archia-Bold.woff2') format('woff2'),
        url('Archia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archia';
    src: url('Archia-Regular.woff2') format('woff2'),
        url('Archia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archia';
    src: url('Archia-SemiBold.woff2') format('woff2'),
        url('Archia-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archia';
    src: url('Archia-Thin.woff2') format('woff2'),
        url('Archia-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archia';
    src: url('Archia-Medium.woff2') format('woff2'),
        url('Archia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archia';
    src: url('Archia-Light.woff2') format('woff2'),
        url('Archia-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

