@font-face {
    font-family: 'CanvaCakeShop';
    src: url('CanvaCakeShop.eot');
    src: url('CanvaCakeShop.eot?#iefix') format('embedded-opentype'),
        url('CanvaCakeShop.woff2') format('woff2'),
        url('CanvaCakeShop.woff') format('woff'),
        url('CanvaCakeShop.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

