@font-face {
    font-family: 'Soleil';
    src: url('Soleil-Regular.woff2') format('woff2'),
        url('Soleil-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil Light';
    src: url('SoleilLight.woff2') format('woff2'),
        url('SoleilLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil Book';
    src: url('Soleil-Book.woff2') format('woff2'),
        url('Soleil-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil SemiBold';
    src: url('Soleil-SemiBold.woff2') format('woff2'),
        url('Soleil-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil ExtraBold';
    src: url('SoleilExtraBold.woff2') format('woff2'),
        url('SoleilExtraBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soleil Bold';
    src: url('Soleil-Bold.woff2') format('woff2'),
        url('Soleil-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

