@font-face {
    font-family: 'ReporterBold';
    src: url('2d30c1b7fb9c3e0495f43f061719b87e.eot');
    src: url('2d30c1b7fb9c3e0495f43f061719b87e.eot?#iefix') format('embedded-opentype'),
	url('2d30c1b7fb9c3e0495f43f061719b87e.woff2') format('woff2'),
	url('2d30c1b7fb9c3e0495f43f061719b87e.woff') format('woff'),
	url('2d30c1b7fb9c3e0495f43f061719b87e.ttf') format('truetype'),
	url('2d30c1b7fb9c3e0495f43f061719b87e.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family:EGGIndulekhaUni;
	src:url("EGGIndulekhaUniB.woff2") format("woff2"),
	url("EGGIndulekhaUniB.woff") format("woff");
	font-weight:bold;
}