@font-face {
    font-family: 'AllianzSans';
    src: url('AllianzSans-Light.woff2') format('woff2'),
        url('AllianzSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AllianzSans';
    src: url('AllianzSans-Bold.woff2') format('woff2'),
        url('AllianzSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AllianzSans';
    src: url('AllianzSans.woff2') format('woff2'),
        url('AllianzSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

