@font-face {
    font-family: 'Saudia Sans';
    src: url('SaudiaSans-Medium.woff2') format('woff2'),
        url('SaudiaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Sans';
    src: url('SaudiaSans-Bold.woff2') format('woff2'),
        url('SaudiaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Sans';
    src: url('SaudiaSans-Regular.woff2') format('woff2'),
        url('SaudiaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saudia Sans';
    src: url('SaudiaSans-SemiBold.woff2') format('woff2'),
        url('SaudiaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

